@tailwind base;
@tailwind components;

@layer base {
  /* @font-face {
    font-family: "DroidSerif";
    font-weight: normal;
    src: local("DroidSerif-Regular"),
      url("/fonts/DroidSerif-Regular.ttf") format("ttf");
  }
  @font-face {
    font-family: "DroidSerif";
    font-weight: bold;
    src: local("DroidSerif-Bold"),
      url("/fonts/DroidSerif-Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: light;
    src: local("Roboto-Light"), url("/fonts/Roboto-Light.ttf") format("ttf");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: local("Roboto-Regular"), url("/fonts/Roboto-Regular.ttf") format("ttf");
  } */
  @font-face {
    font-family: "Pacifico";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/Pacifico-Regular.ttf") format("ttf");
  }
}

@tailwind utilities;
