@tailwind base;
@tailwind components;
@layer base {
  @font-face {
    font-family: "DroidSerif";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/DroidSerif-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "DroidSerifB";
    font-weight: normal;
    src: url("/fonts/DroidSerif-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: normal;
    src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "RobotoL";
    font-weight: normal;
    src: url("/fonts/Roboto-Light.woff2") format("woff2");
  }
}

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Pacifico";
}
